main {
    grid-gap: 50px;
    padding: 0 5%;
}

main p {
    font-size: 125%;
}

main h2 {
    font-size: 2em;
    color: var(--accent)
}

h1 {
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5% 0;
}

/* Pre-register bit */
#email-collector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email-collector form {
    /*display: flex;*/
    flex-direction: row;
    /*grid-gap: 10px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 3em;
}

#email-collector form input#user-email {
    /*border: 1px solid var(--text);*/
    /*outline: none;*/
    /*border-radius: 25px;*/
    /*padding: 10px;*/
    /*background-color: var(--overlay);*/
    /*color: var(--text);*/
    /*text-align: center;*/
    /*height: inherit;*/
    /*font-size: 1.25em;*/
}

#email-collector form input.btn {
    height: inherit;
}


/* Viewports */


/* Mobile viewport */
@media screen and (max-width: 450px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        text-align: center;
    }
    form.email-collector {
        flex-direction: column;
    }
}
