main {
    grid-gap: 50px;
    padding: 0 5%;
}

main p {
    font-size: 125%;
}

main h2 {
    font-size: 2em;
    color: var(--accent)
}

h1 {
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 5% 0;
}

/* Pre-register bit */
#email-collector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email-collector form {
    /*display: flex;*/
    flex-direction: row;
    /*grid-gap: 10px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

#email-collector form input#user-email {
    /*border: 1px solid var(--text);*/
    /*outline: none;*/
    /*border-radius: 25px;*/
    /*padding: 10px;*/
    /*background-color: var(--overlay);*/
    /*color: var(--text);*/
    /*text-align: center;*/
    /*height: inherit;*/
    /*font-size: 1.25em;*/
}

#email-collector form input.btn {
    height: inherit;
}

/* Info area */
#info {
    display: flex;
    flex-direction: column;
    width: 100vw;
    grid-gap: 5em;
}

#info section {
    display: flex;
    height: 30em;
    flex-direction: row
}

#info section .info-text {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 0 5em;
}

#info section .info-image {
    width: 65%;
    height: 100%;
    overflow: hidden;
}

section .info-image:nth-of-type(even) {
    mask: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 100%);
}

section .info-image:nth-of-type(odd) {
    mask: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 100%);
}

#info section .info-image img {
    object-fit: contain;
    width: 100%;
    min-height: 100%;
    /*margin: -50% 0; !* This will somehow magically center the thing, I think *!*/
}


/* Viewports */


/* Mobile and tablet viewports */
@media screen and (max-width: 850px) {
    #info section {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #info section .info-text {
        width: 100%;
        padding: 0 2em;
        order: 1;
    }
    #info section .info-image {
        width: 100%;
    }
    #info section .info-image {
        order: 0;
        mask: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
    }
}

/* Mobile viewport */
@media screen and (max-width: 450px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        text-align: center;
    }
    #email-collector form {
        flex-direction: column;
    }
}
