/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Prompt&family=Roboto&display=swap');
/*
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Roboto', sans-serif;
*/


/* Custom colors and other global values */
:root {
    /* Custom color values */
    --background-variable-opacity: 20, 19, 19;
    --background: #141313;
    --overlay-variable-opacity: 40, 40, 40;
    --overlay: #282828;
    --text: #f3e4d8;
    --accent: #339fe0;
    --secondary: #48d96c;
    --success: #43AA8B;
    --failure: #aa434d;
    --success-variable-opacity: 67, 170, 139;
    --failure-variable-opacity: 170, 67, 77;

    /* Fixed height values */
    --header-height: 75px;
}


/* CSS Reset */
body, main, header, footer, article, html {
    border: 0;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    color: var(--text);
    font-family: 'Alegreya Sans', sans-serif;
}


/* General styling */


html, body {
    min-height: 100%;
    width: 100%;
}

body {
    background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, .roboto, .roboto * {  /* .roboto is needed for the setviewer boxfitting */
    font-family: 'Roboto', sans-serif;
}


/* Generic primitives */


.btn {
    background-color: var(--accent);
    color: var(--background);
    outline: none;
    border: none;
    padding: 1em;
    min-width: 5em;
    height: 2.5em;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    transform: scale(110%);
    opacity: 90%;
    backdrop-filter: blur(25px);
    box-shadow: 0 0 .1em .1em var(--accent);
}

.btn.danger {
    background-color: rgba(255, 50, 50, 40%);
    color: var(--text);
    height: 1em;
    line-height: 0;
}

.btn.danger:hover {
    box-shadow: none;
    transform: none;
}

.btn-circle {
    background-color: var(--accent);
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .1s;
    opacity: .7;
}

.btn-circle:hover {
    opacity: 1;
}

.btn-circle span {
    color: var(--background);
}

.chip {
  background-color: var(--overlay);
  padding: 5px 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
  text-decoration: none;
  font-weight: bold;
}

.chip:hover {
  opacity: 80%;
    cursor: pointer;
}

.button-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 5em;
    grid-gap: 1em;
}

.button-header h1 {
    display: flex;
    flex-direction: row;
    width: 95%;
    text-align: center;
    justify-content: center;
}

.button-header span {
    text-align: left;
    background-color: var(--text);
    color: var(--background);
    font-size: 2em;
    margin: 0;
    border-radius: 3em;
    font-weight: bold;
}

/* Fancy gradient text */
.cutout {
    background: var(--text); /* Fallback */
    /*background: linear-gradient(90deg, rgba(246,152,57,1) 0%, rgba(211,131,132,1) 60%, rgba(155,97,255,1) 100%);*/
    background: linear-gradient(90deg, var(--accent) 60%, var(--secondary) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

/* Customize the checkboxes as much as possible */
input[type="checkbox"] {
    height: 1em;
    width: 1em;
    accent-color: var(--accent)
}

/* Make google material symbols unselectable */
.material-symbols-outlined {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}


/* Header and footer */


/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--header-height);
    padding: 10px;
}

header a {
    text-decoration: none;
    font-size: 125%;
}

header nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    padding: 0 15px;
}

header #logo {
    height: 100%;
    width: auto;
    cursor: pointer;
}

header #account-pfp {
    height: 2em;
    width: 2em;
}

header #account-pfp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

form.search_bar {
    display: flex;
    flex-direction: row;
    grid-gap: 0;
}

form.search_bar * {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header form.search_bar * {
    height: calc(.5 * var(--header-height));
}

form.search_bar span {
    border-right: none;
    border-radius: 25px 0 0 25px;
}

form.search_bar input.query {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

header form.search_bar input.query {
    width: 10vw;
    height: calc(.5 * var(--header-height));  /* Specificity issues requires copying this here */
}

form.search_bar button {
    border-left: none;
    border-radius: 0 25px 25px 0;
    transition-duration: .1s;
    padding: .5em;
}

form.search_bar button:hover {
    cursor: pointer;
    background-color: var(--accent);
}

header div.search_bar.mobile {
    display: none;
}

/* Footer */
footer {
    width: 100%;
    min-height: var(--header-height);
    align-items: center;
    padding: 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    margin-top: 5%;
}

footer .branding {
    display: flex;
    flex-direction: column;
}

footer #footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 800px;
}

footer #footer-links div {
    display: flex;
    flex-direction: column;
    grid-gap: 1em;
}

footer #footer-links h4 {
    color: var(--accent);
    font-size: 1.5em;
    margin-bottom: 1em;
}

footer #footer-links a {
    text-decoration: underline;
}

footer #back-to-top {
    min-height: 3em; /* Overrides the default .btn values */
    min-width: 3em;
    height: 3em;
    width: 3em;
    border-radius: 50%;
}

footer #back-to-top span {
    font-size: 2em;
    color: var(--background);
}

footer a {
    text-decoration: none;
}

footer img {
    height: 50px;
}


/* Main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    min-height: calc(100vh - var(--header-height));  /* Will always push footer to bottom */
}


/* Forms */
form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

form input:not(.btn) {
    border: 1px solid var(--text);
    outline: none;
    border-radius: 25px;
    padding: 10px;
    background-color: var(--overlay);
    color: var(--text);
    text-align: center;
    height: inherit;
    font-size: 1.25em;
}

form > *:not(.btn, label, h1, h2, h3, h4, h5, h6, p, div) {
    border: 1px solid var(--text);
    outline: none;
    border-radius: 25px;
    padding: 10px;
    background-color: var(--overlay);
    color: var(--text);
}


form input.btn {
    height: inherit;
    font-size: 1em;
}


/* Viewports */


/* Mobile viewport */
@media screen and (max-width: 450px) {
    footer #footer-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        scale: 110%;
    }
    .button-header {
        padding: 0 2em;
    }
}

/* Tablet and mobile viewports */
@media screen and (max-width: 850px) {
    header form.search_bar.desktop {
        display: none;
    }
    header div.search_bar.mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        background-color: var(--text);
        height: 2em;
        width: 2em;
        padding: 1em;
    }
    header div.search_bar.mobile span {
        color: var(--background);
    }
}
