#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 50px;
    width: 100%;
}

#profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 5em;
}

#overview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    grid-gap: 25px;
}

#overview #text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#overview img#profile-picture {
    height: 5em;
    width: auto;
    border-radius: 50%;
}

#overview p#profile-picture {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
}

#overview p#profile-picture span {
    color: var(--background)
}

#overview #stats, #overview #name {
    width: 100%;
    margin: 0;
}

#edit-button {
    background-color: var(--accent);
    border: none;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .1s;
    opacity: .8;
}

#edit-button:hover {
    opacity: 1;
}

#edit-button span {
    color: var(--background);
}

#level {
    font-size: 1em;
    margin: 0;
}

#level .lv-num {
    font-size: 1.5em;
    color: var(--accent);
}

#info {
    width: 75%;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
}

#info section {
    width: 100%;
    border-radius: 25px;
    padding: 25px;
    background-color: var(--overlay);
    min-height: 75px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#info section h2 {
    text-align: center;
}

#info section#sets {
    align-items: center;
    grid-gap: 15px;
}

.set {
    width: 100%;
    background-color: rgba(var(--background-variable-opacity), .8);
    border-radius: 25px;
    padding: 10px;
    transition-duration: .2s;
    border: 2px solid transparent;
}

.set:hover {
    scale: 110%;
    border: 2px solid var(--text);
    cursor: pointer;
}

section#members {
    align-items: center;
}

#member-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.member {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
}

.member .member-pfp {
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* Mobile viewport */
@media screen and (max-width: 450px) {
    #info {
        width: 100%;
    }
    #info section {
        border-radius: 0;
        background-color: var(--background);
    }
    .set {
        background-color: var(--overlay);
    }
    #member-box {
        grid-template-columns: repeat(3, 1fr);
    }
}
