/* Card view */


#set-viewer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - var(--header-height));
}

#card-view {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    min-height: calc(100vh - var(--header-height));
    justify-content: flex-start;
    align-items: center;
}

#card-view h1, h3 {
    margin: 0;
}

#card-view #card-viewer {
    display: flex;
    flex-direction: row;
    height: 50vh;
}

#card-view #card-viewer .arrow {
    height: 100%;
    background-color: var(--overlay);
    opacity: .5;
    width: min-content;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    transition-duration: .2s;
    cursor: not-allowed;
}

#card-view #card-viewer #mobile-arrows {
    display: none;
}

#card-view .arrow#arrow-back {
    border-radius: 15px 0 0 15px;
}

#card-view .arrow#arrow-forward {
    border-radius: 0 15px 15px 0;
}


#card-view #card-viewer .arrow.active:hover {
    opacity: 1;
    cursor: pointer;
}

#card-view .arrow p {
    margin: 0;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

#card-viewer #card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
    cursor: pointer;
}

#card-viewer #card .front, #card-viewer #card .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100%;
    padding: 5%;
    background-color: var(--overlay);
}

#card-view #widgets {
    display: flex;
    flex-direction: row;
    grid-gap: 25px;
    width: 75%;
    justify-content: space-between;
}

#card-view #widgets .chip {
    height: 50px;
    margin: 0;
    width: 100%;
}

#card-view #scroll-notice {
    display: flex;
    flex-direction: row;
    margin: 0 0 50px 0;
    align-items: center;
    justify-content: center;
}


/* List view */


#list-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#list-view table {
    width: 75%;
    border-spacing: 0;
    font-size: 1.3em;
    border: 3px solid var(--text);
    border-radius: 15px;
}

#list-view table tr:nth-of-type(odd) {
    background-color: var(--overlay);
}

#list-view table tr:nth-of-type(even) {
    background-color: rgba(var(--overlay-variable-opacity), 75%);
}

#list-view table td {
    padding: 1em;
}

#list-view table td:nth-of-type(1) {
    width: 5%;
}

#list-view table td:nth-of-type(2) {
    width: 35%;
}

#list-view table td:nth-of-type(3) {
    width: 60%;
}

#list-view table td:not(:last-child) {
    border-right: 3px solid var(--text);
}


/* Viewports */


/* Mobile viewport */
@media screen and (max-width: 450px) {

}

/* Tablet viewport */
@media screen and (max-width: 850px) {
    #card-view {
        justify-content: center;
    }
    #card-view #card-viewer .arrow.desktop {
        display: none;
    }
    #card-view #card-viewer {
        height: 50vh;
        flex-direction: column;
        grid-gap: 15px;
        align-items: center;
    }
    #card-view #card-viewer #card {
        width: 90vw;
        border-radius: 15px;
    }
    #card-view #card-viewer #mobile-arrows {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 75px;
        grid-gap: 15px;
    }
    #card-view #card-viewer #mobile-arrows p {
        width: 50%;
        text-align: center;
    }
    #card-view #card-viewer #mobile-arrows .arrow.active {
        opacity: 1;
        cursor: pointer;
    }
    #card-view #widgets {
        flex-direction: column;
        grid-gap: 10px;
        width: 90%;
    }
    #card-view #widgets .chip {
        height: 40px;
        margin: 0;
        width: 100%;
    }
    #list-view table {
        width: 100%;
        border: none;
        font-size: 1em;
    }
    #list-view table td:not(:last-child) {
        border-right: 2px solid var(--text);
    }
    #list-view table td {
        padding: 10px;
    }
}
