#updated {
    display: flex;
    background-color: var(--success);
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}

#updated > * {
    color: var(--background);
}

#settings-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#nav-sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    grid-gap: 25px;
}

.chip {
    width: 75%;
    height: 3em;
}

.chip .material-symbols-outlined {
    width: 25%;
}

.chip .chip-text {
    text-align: center;
    width: 75%;
}

#settings {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 0 5%;
    grid-gap: 75px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 25px;
}

section h1 {
    font-size: 200%;
    margin: 0 0 1em 0;
    border-bottom: 3px solid var(--text);
    border-radius: 5px;
}

section form {
    flex-direction: row;
}

#user-account-account-socials {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
}

#user-account-account-socials a {
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
    margin: 0;
    align-items: center;
    text-decoration: none;
}

#user-account-account-socials a img {
    height: 35px;
    width: auto;
    border-radius: 5px;
}

#user-email form {
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 25px;
}

#user-email form .options {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

#user-email form .option {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    align-items: center;
}

#shared-about form {
    flex-direction: column;
}

#shared-about form input {
    width: 100%;
}

#shared-about form textarea {
    min-width: 50vw;
    width: 100%;
    min-height: 25vh;
}

#shared-privacy form {
    flex-direction: column;
    width: max-content;  /* min-content would wrap the text */
    align-items: flex-start;
}

/* Mobile and tablet viewports */
@media screen and (max-width: 850px) {
    #nav-sidebar {
        display: none;
    }
    #settings-box {
        width: 100%;
    }
    section h1 {
        align-self: flex-start;
    }
    section form {
        flex-direction: column;
        align-items: flex-start;
    }
}
