<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>Learn: Import | HashCards</title>
    <link rel="stylesheet" href="/static/css/learn.css">
</head>
<body>
{% include "components/header.html" %}
<main>
<div id="learn">
    <h1>Importing sets</h1>
    <section>
        <h3>Choose a platform:</h3>
        <ul>
            <li><a href="/learn/import/quizlet">Quizlet</a></li>
        </ul>
    </section>
</div>
</main>
{% include "components/footer.html" %}
</body>
</html>