<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>Learn: Math | HashCards</title>
    <link rel="stylesheet" href="/static/css/learn.min.css">
</head>
<body>
{% include "components/header.html" %}
<main>
<div id="learn">
    <h1>Using math equations in HashCards</h1>
    <section>
        <h3>Table of Contents:</h3>
        <ul>
            <li><a href="/learn/math/edit">Set editor</a></li>
            <li><a href="/learn/math/study">Study mode</a></li>
        </ul>
    </section>
</div>
</main>
{% include "components/footer.html" %}
</body>
</html>