<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>HashCards</title>
    <link rel="stylesheet" href="/static/css/about.min.css">
</head>
<body>
{% include "components/header.html" %}
<main>
    <h1 class="cutout">About HashCards</h1>
<div id="about">
    <h2>What</h2>
    <p>HashCards is an online flashcard solution, but free of excessive spam and paywalls. With HashCards you can create, share, and study flashcards intuitively - for free - without being bombarded by constant ads, popups, or subscription fees.</p>
    <h2>Why</h2>
    <p>Although there are plenty of other online flashcard services, they suffer from poor user interfaces or excessive spam, bloat, and paywalls. HashCards was created as a simple, easy to use, and full-featured online flashcard service, just without the spam, bloat, and paywalls.</p>
    <h2>When</h2>
    <p>HashCards is looking to finish a complete pre-release in August 2023</p>
    <h2>Who</h2>
    <p>HashCards is currently being developed by <a href="https://jvadair.com">James Adair</a>.</p>
    <h2>Contact</h2>
    <a href="mailto:dev@jvadair.com">James Adair &lt;dev@jvadair.com&gt;</a>
    <p>Please feel free to email me with suggestions, issues, or anything related to HashCards!</p>
</div>
</main>
{% include "components/footer.html" %}
</body>
</html>