<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <link rel="stylesheet" href="/static/css/auth.min.css">
    <title>{{ auth_method.capitalize() }} | HashCards</title>
</head>
<body>
{% include "components/header.html" %}
<main>
    <form id="auth-form" action="/api/v1/auth/{{ auth_method }}" method="post">
        <div class="welcome">
            {% if auth_method == 'login' %}
            <h1>Welcome back!</h1>
            <h3>Or <a href="/register" id="change_auth_method">click here</a> to sign up</h3>
            {% elif auth_method == 'register' %}
            <h1>Howdy!</h1>
            <h3>Already registered? <a href="/login" id="change_auth_method">Click here</a> to sign in</h3>
            {% endif %}
        </div>
        {% if auth_method == 'login' %}
        <label for="identifier" style="display: none">Username or email</label>
        <input id="identifier" type="text" name="identifier" placeholder="Username or email" required>
        {% elif auth_method == 'register' %}
        <label for="email" style="display: none">Email</label>
        <input id="email" type="email" name="email" placeholder="Email" required {% if email %}value="{{ email }}"{% endif %}>
        <label for="username" style="display: none">Username</label>
        <input id="username" type="text" name="username" placeholder="Username" required>
        {% endif %}
        <label for="password" style="display: none">Password</label>
        <input id="password" type="password" name="password" placeholder="Password" required>
        <input type="hidden" name="redirect" id="input-redirect">
        <input type="submit" value="{{ 'Login' if auth_method == 'login' else 'Sign up'}}" class="btn">
        <div id="social_logins">
            <h2>Or, sign in with</h2>
            <div id="social_buttons">
                <img id="oauth-nexus" src="/static/images/social_logins/nexus.png" alt="Login with Nexus" onclick="window.location.href='/oauth/nexus';">
                <img id="oauth-google" src="/static/images/social_logins/google.png" alt="Login with Google" onclick="window.location.href='/oauth/google';">
            </div>
        </div>
        <p id="disclaimer">By creating an account or logging in through any means, you accept and agree to be bound and abide by the hashcards.net <a href="/terms">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.</p>
    </form>
</main>
<script>
    let path_args = new URLSearchParams(window.location.search);
    let redirect_to = path_args.get('redirect');
    var add_to_url
    if (redirect_to) {
        add_to_url = `?redirect=${redirect_to}`;
        $('#input-redirect').val(redirect_to);
    }
    else {
        add_to_url = '';
        $('#input-redirect'.val('/'));
    }
    $('#change_auth_method').attr('href', `/{{ 'register' if auth_method == 'login' else 'login' }}${add_to_url}`);
    $("#oauth-nexus").attr('onclick', `window.location.href='/oauth/nexus${add_to_url}';`);
    $("#oauth-google").attr('onclick', `window.location.href='/oauth/google${add_to_url}';`);
</script>
{% include "components/footer.html" %}
</body>
</html>