<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>HashCards</title>
    <link rel="stylesheet" href="/static/css/landing.min.css">
    {{ metatags(path='', image='logo-banner.png') | safe }}
</head>
<body>
{% include "components/header.html" %}
<main>
    <div class="action">
        {#
        Ideas:
        1. Make learning effortless
        2. Mastery sans misery
        3. The power to study
        4. We fixed flashcards
        5. Flashcards set free
        #}
        <h1 class="cutout">Flashcards, sans flashy.</h1>
        <div id="email-collector">
{#            <form action="/api/v1/preregister" method="post">#}
{#                <label for="email" style="display: none;">Email</label>#}
{#                <input id="email" type="email" name="email" placeholder="your@email.com">#}
{#                <input type="submit" class="btn" value="Pre-register">#}
{#            </form>#}
{#            <p>{{ num_preregistered }} users pre-registered</p>#}
            <h2>&#10071; We are tracking an issue regarding set corruption, please hang tight and export your sets periodically.</h2>
        </div>
    </div>
    <div id="info">
        <section>
            <div class="info-text">
                <h2>Simply do.</h2>
                <p>HashCards makes creating sets fast & easy, saving your work as you go.</p>
            </div>
            <div class="info-image">
                <img src="/static/images/screenshots/do.jpg" alt="HashCards set manager">
            </div>
        </section>
        <section>
            <div class="info-image">
                <img src="/static/images/screenshots/study.jpg" alt="HashCards' study feature">
            </div>
            <div class="info-text">
                <h2>Simply study.</h2>
                <p>Click "study" to enter study mode, which keeps track of which cards you need to work on and helps you to learn faster.</p>
            </div>
        </section>
        <section>
            <div class="info-text">
                <h2>Simply share.</h2>
                <p>Make your sets public and share them with just a few clicks.</p>
            </div>
            <div class="info-image">
                <img src="/static/images/screenshots/share.jpg" alt="Share button for set">
            </div>
        </section>
    </div>
</main>
{% include "components/footer.html" %}
</body>
</html>