<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>HashCards</title>
    <link rel="stylesheet" href="/static/css/landing.min.css">
    <!-- Primary Meta Tags -->
    <title>HashCards</title>
    <meta name="title" content="HashCards" />
    <meta name="description" content="Create, find, share, and study flashcards for free without limits." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hashcards.net" />
    <meta property="og:title" content="HashCards" />
    <meta property="og:description" content="Create, find, share, and study flashcards for free without limits." />
    <meta property="og:image" content="https://hashcards.net/static/images/logo-banner.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://hashcards.net" />
    <meta property="twitter:title" content="HashCards" />
    <meta property="twitter:description" content="Create, find, share, and study flashcards for free without limits." />
    <meta property="twitter:image" content="https://hashcards.net/static/images/logo-banner.png" />
</head>
<body>
{% include "components/header.html" %}
<main>
    <div class="action">
        {#
        Ideas:
        1. Make learning effortless
        2. Mastery sans misery
        3. The power to study
        4. We fixed flashcards
        5. Flashcards set free
        #}
        <h1 class="cutout">Flashcards, sans flashy.</h1>
        <div id="email-collector">
            <form action="/api/v1/preregister" method="post">
                <label for="email" style="display: none;">Email</label>
                <input id="email" type="email" name="email" placeholder="your@email.com">
                <input type="submit" class="btn" value="Pre-register">
            </form>
            <p>{{ num_preregistered }} users pre-registered</p>
        </div>
    </div>
    <div class="info">
        <h2>What</h2>
        <p>HashCards is a new tool that will help you to create flash cards, share them with others, and study them effectively - all completely free!</p>
        <h2>Why</h2>
        <p>Paywalls, poor interfaces, inactivity, and more limit our productivity within other flashcard services. HashCards is here to turn that around.</p>
        <h2>When</h2>
        <p>HashCards is looking to finish a complete pre-release in August 2023</p>
        <h2>Who</h2>
        <p>HashCards is currently being developed by <a href="https://jvadair.com">James Adair</a>.</p>
    </div>
</main>
{% include "components/footer.html" %}
</body>
</html>