<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>Learn | HashCards</title>
    <link rel="stylesheet" href="/static/css/learn.css?v=2">
</head>
<body>
{% include "components/header.html" %}
<main>
<div id="learn">
    <h1>Get help with HashCards</h1>
    <section>
        <h3>Table of Contents:</h3>
        <ul>
            <li><a href="/learn/import">Import sets</a></li>
            <li><a href="/learn/math">Type math equations</a></li>
        </ul>
    </section>
</div>
</main>
{% include "components/footer.html" %}
</body>
</html>