<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>My Sets | HashCards</title>
    <link rel="stylesheet" href="/static/css/library.min.css">
</head>
<body>
{% include "components/header.html" %}
<main>
    <div class="button-header">
        <a href=".."><span class="material-symbols-outlined">arrow_back</span></a>
        <h1>My Sets</h1>
    </div>
{% if len(user.sets._val) > 0 %}
    <div id="library">
        <a class="set-container" href="/new">
            <div class="set new-set" id="new_set">
                <p class="cutout">+ New set</p>
            </div>
        </a>
        <a class="set-container" href="/import">
            <div class="set new-set" id="new_set">
                <p class="cutout"><span class="material-symbols-outlined cutout">upload</span> Import</p>
            </div>
        </a>
        {% for set in user.sets._val %}
            {% set set = get_set_db(set) %}
            <a class="set-container" data-timestamp="{{ time.mktime(set.mdtime._val.timetuple()) }}" href="/set/{{ set.id._val }}">
                <div class="set">
                    <h3>{{ set.title._val if set.title._val else 'New set' }}</h3>
                    {% if set.description._val %}
                        <p>{{ set.description._val }}</p>
                    {% else %}
                        <p><i>No description</i></p>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
        <script>
            $('#library .set-container').sort(function(a, b) {
                return $(b).data('timestamp') - $(a).data('timestamp');
            }).appendTo('#library');
        </script>
    </div>
{% else %}
<h3 style="text-align: center; padding: 1em;">You have no sets yet. Would you like to <a href="/new">create one</a>?</h3>
{% endif %}
</main>
{% include "components/footer.html" %}
</body>
</html>