<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>My Sets | HashCards</title>
    <link rel="stylesheet" href="/static/css/library.min.css">
</head>
<body>
{% include "components/header.html" %}
<main>
<h1>My Sets</h1>
{% if len(user.sets._val) > 0 %}
    <div id="library">
        {% for set in user.sets._val %}
            {% set set = get_set_db(set) %}
            <a class="set-container" data-timestamp="{{ time.mktime(set.mdtime._val.timetuple()) }}" href="/set/{{ set.id._val }}">
                <div class="set">
                    <h3>{{ set.title._val if set.title._val else 'New set' }}</h3>
                    {% if set.description._val %}
                        <p>{{ set.description._val }}</p>
                    {% else %}
                        <p><i>No description</i></p>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
        <script>
            $('#library .set-container').sort(function(a, b) {
                return $(b).data('timestamp') - $(a).data('timestamp');
            }).appendTo('#library');
        </script>
    </div>
{% else %}
<h3>You have no sets yet. Would you like to <a href="/new">create one</a>?</h3>
{% endif %}
</main>
{% include "components/footer.html" %}
</body>
</html>