<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>Edit {{ set.title._val if set.title._val else "new set" }} | HashCards</title>
    <link rel="stylesheet" href="/static/css/set-manager.min.css">

</head>
<body>
{% include "components/header.html" %}
<main>
    <div id="set-manager">
        <div id="options-container">
            <div id="dropdown-toggle">
                <p><span class="material-symbols-outlined">arrow_drop_down</span> Set details</p>
            </div>
            <form id="options">
                <label for="title">Title</label>
                <input id="title" name="title" type="text" placeholder="Title" value="{{ set.title._val }}">
                <label for="description">Description</label>
                <textarea id="description" name="description">{{ set.description._val }}</textarea>
                <label for="subject">Subject</label>
                <select id="subject" name="subject">
                    <option value="">None</option>
                    {% for subject in subjects %}
                        <option value="{{ subject }}">{{ subject }}</option>
                    {% endfor %}
                    <script>
                        $('#options #subject option[value="{{ set.subject._val }}"]').prop('selected', true);
                    </script>
                </select>
                <label for="org">Organization</label>
                <select id="org" name="org">
                    <option value="">None</option>
                    {# TODO: Display the user's organizations #}
                </select>
                <label for="group">Group</label>
                <select id="group" name="group">
                    <option value="">None</option>
                    {# TODO: Display the user's groups #}
                </select>
                <label for="visibility">Visibility</label>
                <select id="visibility" name="visibility">
                    <option value="private">Private</option>
                    <option value="public">Public</option>
                    <option value="organization">Organization</option>
                    <script>
                        $('#options #visibility option[value="{{ set.visibility._val }}"]').prop('selected', true);
                    </script>
                </select>
{#                <div id="autosave">#}
{#                    <label for="autosave-toggle">Autosave</label>#}
{#                    <input id="autosave-toggle" name="autosave" type="checkbox" {{ 'checked' if set.autosave._val else '' }}>#}
                    <script>
                        {#autosave = {{ 'true' if set.autosave._val else 'false'}};#}
                        autosave = true;
                    </script>
{#                </div>#}
                <div id="safe-buttons">
                    <a class="btn" onclick="save(false, true);">Save now</a>
                    <a class="btn" onclick="save(true, true);">View set</a>
                </div>
                <a class="btn danger" id="delete-set">Delete set</a>
                <input type="submit" style="display: none;">
            </form>
            <script src="/static/scripts/dropdown.min.js"></script>
        </div>
        <div id="card-container">
            {% for card in set.card_order._val %}
                {% set card = set.cards.get(card) %}
                <div class="card" data-card-id="{{ card.id._val }}">
                    <div class="card-header">
                        <p><span class="material-symbols-outlined drag-handle">drag_handle</span></p>
                        <p><span class="material-symbols-outlined delete-btn">delete</span></p>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <form>
                                <label>Front<input type="text" class="card-text card-text-front" value="{{ card.front._val }}"></label>
                                <label>Back&nbsp;<input type="text" class="card-text card-text-back" value="{{ card.back._val }}"></label>
                            </form>
                        </div>
                        <div class="card-image">
                            <p class="cutout desktop">+</p>
                            <p class="cutout mobile">+ Image</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="card new-card" id="new_card" onclick="add_card()">
                <p class="cutout">+ New card</p>
            </div>
        </div>
    </div>
</main>
{% include "components/footer.html" %}
<script src="/static/scripts/set_manager.min.js"></script>
</body>
</html>