<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>{{ set.title._val if set.title._val else 'New set' }} | HashCards</title>
    <link rel="stylesheet" href="/static/css/set-viewer.min.css">
    <script src="/static/scripts/boxfit.min.js"></script>
</head>
<body>
{% include "components/header.html" %}
<main>
    <div id="set-viewer">
        <div id="card-view">
            <h1>{{ set.title._val if set.title._val else 'New set' }}</h1>
            {% set author = get_user_db(set.author._val) %}
            <h3>by <a href="/{{ author.id._val }}/profile">{{ author.username._val }}</a></h3>
            <div id="card-viewer">
                {% if len(set.card_order._val) > 0 %}
                    <p class="arrow desktop" id="arrow-back" onclick="card_back()"><span class="material-symbols-outlined">arrow_back_ios_new</span></p>
                    <div id="card">
                        <div class="front">
                            {% if set.cards.get(set.card_order._val[0]).image._val %}
                                <img src="/static/images/card_images/{{ set.cards.get(set.card_order._val[0]).image._val }}.png" alt="Card image">
                            {% endif %}
                            {% if set.cards.get(set.card_order._val[0]).front._val  %}
                                <h2>{{ set.cards.get(set.card_order._val[0]).front._val }}</h2>
                            {% endif %}
                        </div>
                        <div class="back">
                            <h2>{{ set.cards.get(set.card_order._val[0]).back._val }}</h2>
                        </div>
                    </div>
                    <p class="arrow desktop{{ ' active' if len(set.card_order._val) > 1 else ''}}" id="arrow-forward" onclick="card_forward()"><span class="material-symbols-outlined">arrow_forward_ios</span></p>
                    <div id="mobile-arrows">
                        <p class="arrow mobile" id="arrow-back" onclick="card_back()"><span class="material-symbols-outlined">arrow_back_ios_new</span></p>
                        <p class="arrow mobile{{ ' active' if len(set.card_order._val) > 1 else ''}}" id="arrow-forward" onclick="card_forward()"><span class="material-symbols-outlined">arrow_forward_ios</span></p>
                    </div>
                {% else %}
                    <div id="card">
                        <h3>There are no cards in this set yet.</h3>
                    </div>
                {% endif %}
            </div>
            <script>
                $("#card h2").boxfit({multiline: true, maximum_font_size: 25});
            </script>
            <div id="widgets">
                <a class="chip" href="./study">Study</a>
                {% if session.get('id') %}
                    {% if author.id._val == session['id'] %}
                        <a class="chip" href="./edit">Edit</a>
                    {% endif %}
                    <p class="chip" id="pin-set">{{ "Unpin" if set.id._val in get_user_db(session['id']).pinned._val else 'Pin' }}</p>
                {% endif %}
                <p class="chip" onclick="showDialog('share');">Share</p>
                <p class="chip" onclick="showDialog('more_options')"><span class="material-symbols-outlined">more_horiz</span></p>
                {# IDEAS:
                    - Add to group
                #}
            </div>
            <p id="scroll-notice"><span class="material-symbols-outlined">expand_more</span>&nbsp;&nbsp;&nbsp;&nbsp;Scroll for list view...&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-symbols-outlined">expand_more</span></p>
        </div>
        <div id="list-view">
            <h3>{{ len(set.card_order._val) }} cards</h3>
            <table>
                {% for card, num in zip(set.card_order._val, range(0,len(set.card_order._val))) %}
                    {% set card = set.cards.get(card) %}
                    <tr>
                        <td>{{ num + 1 }}</td>
                        <td><div>{% if card.image._val %}<img src="/static/images/card_images/{{ card.image._val }}.png" alt="Card image">{% endif %}{% if card.front._val %}<p>{{ card.front._val }}</p>{% endif %}</div></td>
                        <td><p>{{ card.back._val }}</p></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</main>
<div id="popup-modal">
    <div id="popup">
        <div id="share">
            <h2>Share</h2>
            <div id="share-link-container">
                <label for="share-link" style="display: none;">Shareable link</label>
                <input type="text" id="share-link" readonly>
                <script>
                    $("#share-link").val("https://hashcards.net" + window.location.pathname);
                </script>
                <button class="btn-circle" onclick="$('#share-link').select();navigator.clipboard.writeText($('#share-link').val());"><span class="material-symbols-outlined">content_copy</span></button>
            </div>
        </div>
         <div id="export">
            <h2>Export</h2>
            <div>
                <label>Download set file</label>
                <a href="./export" class="btn">Download</a>
            </div>
            <div>
                <label for="export_text">Copy set text</label>
                <div id="text_copier">
                    <textarea id="export_text" onclick="$(this).select();">{{ export_text }}</textarea>
                    <button class="btn-circle" onclick="$('#export_text').select();navigator.clipboard.writeText($('#export_text').val());"><span class="material-symbols-outlined">content_copy</span></button>
                </div>
            </div>
        </div>
        <div id="more_options">
            <button class="btn" onclick="hideDialog(false);showDialog('export')">Export set</button>
        </div>
        <button class="btn" id="done-button" onclick="hideDialog();">Done!</button>
    </div>
</div>
{% include "components/footer.html" %}
<script src="https://cdn.jsdelivr.net/gh/nnattawat/flip@master/dist/jquery.flip.min.js"></script>
<script>
    let visibility = "{{ set.visibility._val }}";
</script>
<script src="/static/scripts/set_viewer.min.js"></script>

</body>
</html>
