<!DOCTYPE html>
<html lang="en">
<head>
    {% include "components/boilerplate.html" %}
    <title>Edit {{ set.title._val if set.title._val else "new set" }} | HashCards</title>
    <link rel="stylesheet" href="/static/css/set-manager.min.css">

</head>
<body>
{% include "components/header.html" %}
<main>
    <div id="set-manager">
        <div id="options-container">
            <div id="dropdown-toggle">
                <p><span class="material-symbols-outlined">arrow_drop_down</span> Set details</p>
            </div>
            <form id="options">
                <label for="title">Title</label>
                <input autocomplete="off" id="title" name="title" type="text" placeholder="Title" value="{{ set.title._val }}">
                <label for="description">Description</label>
                <textarea autocomplete="off" id="description" name="description">{{ set.description._val }}</textarea>
                <label for="subject">Subject</label>
                <select id="subject" name="subject">
                    <option value="">None</option>
                    {% for subject in subjects %}
                        <option value="{{ subject }}">{{ subject }}</option>
                    {% endfor %}
                    <script>
                        $('#options #subject option[value="{{ set.subject._val }}"]').prop('selected', true);
                    </script>
                </select>
                <label for="org">Organization</label>
                <select id="org" name="org">
                    <option value="">None</option>
                    {# TODO: Display the user's organizations #}
                </select>
                <label for="group">Group</label>
                <select id="group" name="group">
                    <option value="">None</option>
                    {# TODO: Display the user's groups #}
                </select>
                <label for="visibility">Visibility</label>
                <select id="visibility" name="visibility">
                    <option value="private">Private</option>
                    <option value="unlisted">Unlisted</option>
                    <option value="public">Public</option>
                    <option value="organization">Organization</option>
                    <script>
                        $('#options #visibility option[value="{{ set.visibility._val }}"]').prop('selected', true);
                    </script>
                </select>
                <script>
                    if ($('#visibility').val() === 'private') {
                        $('#visibility').css('color','#ff6b79');
                    }
                    else if ($('#visibility').val() === 'unlisted') {
                        $('#visibility').css('color','#eba050');
                    }
                    else {
                        $('#visibility').css('color','#43AA8B');
                    }
                </script>
{#                <div id="autosave">#}
{#                    <label for="autosave-toggle">Autosave</label>#}
{#                    <input id="autosave-toggle" name="autosave" type="checkbox" {{ 'checked' if set.autosave._val else '' }}>#}
                    <script>
                        {#autosave = {{ 'true' if set.autosave._val else 'false'}};#}
                    </script>
{#                </div>#}
                <div id="safe-buttons">
{#                    <a class="btn" onclick="save(false, true);">Save now</a>#}
                    <a class="btn" onclick="save(true, true);">Save & View</a>
                </div>
                <a class="btn danger" id="delete-set">Delete set</a>
                <input type="submit" style="display: none;">
            </form>
            <script src="/static/scripts/dropdown.min.js"></script>
            <div id="setmanager-jump-container">
                <div id="jump-buttons">
                    <a class="chip" id="setmanager-top" href="#top"><span class="material-symbols-outlined">move_up</span> Back to top</a>
                    <a class="chip" id="setmanager-bottom" href="#bottom"><span class="material-symbols-outlined">move_down</span> Jump to bottom</a>
                </div>
            </div>
        </div>
        <div id="card-container">
            {% for card in set.card_order._val %}
                {% set card = set.cards.get(card) %}
                <div class="card" data-card-id="{{ card.id._val }}">
                    <div class="card-header">
                        <p><span class="material-symbols-outlined drag-handle">drag_handle</span></p>
                        <p><span class="material-symbols-outlined delete-btn">delete</span></p>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <form>
                                <label>Front<input type="text" autocomplete="off" class="card-text card-text-front" value="{{ card.front._val }}"></label>
                                <label>Back&nbsp;<input type="text" autocomplete="off" class="card-text card-text-back" value="{{ card.back._val }}"></label>
                            </form>
                        </div>
                        <form class="card-image" {% if card.image._val %}style='background-image: url("/static/images/card_images/{{ card.image._val }}.png");'{% endif %}>
                            <label class="cutout desktop">
                                <input type="file" class="image-upload" name="image" style="display: none" accept="image/jpeg, image/png, image/bmp, image/gif, image/webp"></input>
                                +
                            </label>
                            <label class="cutout mobile">
                                <input type="file" class="image-upload" name="image" style="display: none" accept="image/jpeg, image/png, image/bmp, image/gif, image/webp"></input>
                                + Image
                            </label>
                            <div class="image_added_overlay" onclick="delete_image(this);">
                                <span class="material-symbols-outlined">delete</span>
                            </div>
                            {% if card.image._val %}
                                <script>
                                    $(`.card[data-card-id="{{ card.id._val }}"] .card-image label`).addClass("hidden");
                                    $(`.card[data-card-id="{{ card.id._val }}"] .card-image .image_added_overlay`).addClass('active');
                                </script>
                            {% endif %}
                        </form>
                    </div>
                </div>
            {% endfor %}
            <a id="bottom"></a>
            <div class="card new-card" id="new_card" onclick="add_card()">
                <p class="cutout">+ New card</p>
            </div>
            <a class="btn" id="mobile_save_btn" onclick="save(true, true);">Save & View</a>
        </div>
    </div>
</main>
<p id="save-indicator"><span class="material-symbols-outlined">check_circle</span> Your set was saved.</p>
{% include "components/footer.html" %}
<script src="/static/scripts/set_manager.min.js"></script>
</body>
</html>