<footer>
    <div class="branding">
        <img src="/static/images/logo-banner.png" alt="HashCards banner">
        <a href="https://jvadair.com">&copy; James Adair 2023. All rights reserved.</a>
    </div>
    <div id="footer-links">
        <div id="footer-links-contact">
            <h4>Contact</h4>
            <a href="mailto:dev@jvadair.com?subject=HashCards Feedback&body=Please replace this text with your suggestion, reasoning (if this is a feature request), and a screenshot or design idea if appropriate.">Send feedback</a>
        </div>
        <div id="footer-links-about">
            <h4>About</h4>
            <a href="/about">About HashCards</a>
        </div>
        <div id="footer-links-policies">
            <h4>Policies</h4>
            <a href="/terms">Terms of Service</a>
            <a href="/privacy-policy">Privacy Policy</a>
        </div>
    </div>
    <div id="footer-disclaimers">
        <p style="font-size: .7em;">Routine server maintenance will occur daily at 5:00 AM EST.</p>
    <p style="font-size: .7em;">By continuing to access this website, you accept and agree to be bound and abide by the hashcards.net <a href="/terms">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.</p>
    </div>
    <a class="btn" href="#top" id="back-to-top" title="Back to top"><span class="material-symbols-outlined">move_up</span></a>
</footer>