<header id="top"> {# TODO: Hamburger menu #}
    <img alt="HashCards logo" id="logo" src="/static/images/logo-nobg.png" onclick="window.location.href='/'">
    <nav>
        <a href="/">Home</a>
        <div class="search_bar mobile" onclick="window.location.href = '/search'">
            <span class="material-symbols-outlined">search</span>
        </div>
        <form class="search_bar desktop" method="get" action="/search">
            <span class="material-symbols-outlined">search</span>
            <label for="header-search-query" style="display: none;">Search</label>
            <input id="header-search-query" class="query" name="q" type="text" placeholder="Search">
            <button type="submit"><span class="material-symbols-outlined">explore</span></button>
        </form>
{#        {% if session.get('id') == "4277857a-3546-4500-9ade-6c9d6dca51b7" %}#}
            <div class="admin-btn" onclick="window.location.href = '/admin';" style="display: flex; justify-content: center; cursor: pointer">
                <span style="scale: 1.5;" class="material-symbols-outlined">build_circle</span>
            </div>
{#        {% endif %}#}
        <script>
        $(document).ready(function() {
            $("form.search_bar input").on("keyup keydown", function () {
                if (!$("header form.search_bar input").val()) {
                    $("header form.search_bar button span").text("explore");
                }
                else {
                    $("header form.search_bar button span").text("arrow_forward");
                }
            })
        });
        </script>
        {% if not session['id'] %}
            <a href="/login" id="header-login-button">Login</a>
            <script>
                let redirect_path = window.location.pathname;
                if (redirect_path.startsWith('/api') || ['/register', '/login'].includes(redirect_path)) {
                    redirect_path = '/';
                }
                $('#header-login-button').attr('href', `/login?redirect=${redirect_path}`);
            </script>
        {% else %}
            <a href="/{{ session['id'] }}/profile" id="account-pfp"><img alt="Account" src="/static/images/pfp/{{ session['pfp'] }}.jpg"></a>
        {% endif %}
    </nav>
</header>