<header id="top"> {# TODO: Hamburger menu #}
    <img alt="HashCards logo" id="logo" src="/static/images/logo-nobg.png" onclick="window.location.href='/'">
    <nav>
        <a href="/">Home</a>
        {% if not session['id'] %}
            <a href="/login" id="header-login-button">Login</a>
            <script>
                $('#header-login-button').attr('href', `/login?redirect=${window.location.pathname}`);
            </script>
        {% else %}
            <a href="/account" id="account-pfp"><img alt="Account" src="/static/images/pfp/{{ session['pfp'] }}.jpg"></a>
        {% endif %}
    </nav>
</header>